section.products-catalog
    h2.section-title Каталог товарів

    button#add-product-button.btn-action Додати новий елемент

    .changes-table-container
        table.changes-table
            thead
                tr
                    th Код товару
                    th Назва
                    th Категорія
                    th Вартість
                    th Кількість
                    th Код постачальника
                    th Код складу
                    th Дії
            tbody#products-data

    .form-container#add-form-container(style="display: none;")
        h2.section-title Додати товар
        .changes-table-container
            form#add-product-form.product-form
                table.changes-table
                    tbody
                        tr
                            td(colspan="2")
                                label(for="add-Name") Назва товару
                                input#add-Name.form-control(type="text" name="Name" placeholder="Назва")
                        tr
                            td(colspan="2")
                                label(for="add-Category") Категорія
                                select#add-Category.form-control(name="Category")
                                    option(value="Sneakers") Sneakers
                                    option(value="T-shirt") T-shirt
                                    option(value="Pants") Pants
                        tr
                            td(colspan="2")
                                label(for="add-Price") Вартість
                                input#add-Price.form-control(type="number" name="Price" placeholder="Вартість")
                        tr
                            td(colspan="2")
                                label(for="add-Amount") Кількість
                                input#add-Amount.form-control(type="number" name="Amount" placeholder="Кількість")
                        tr
                            td(colspan="2")
                                label(for="add-idSupplier") Код постачальника
                                input#add-idSupplier.form-control(type="number" name="idSupplier" placeholder="Код постачальника")
                        tr
                            td(colspan="2")
                                label(for="add-idWarehouse") Код складу
                                input#add-idWarehouse.form-control(type="number" name="idWarehouse" placeholder="Код складу")
                        tr
                            td(colspan="2").actions
                                button.btn-submit(type="submit") Додати
                                button.btn-cancel(type="button" id="cancel-add") Скасувати

    // Форма редагування продукту (прихована за замовчуванням)
    .form-container#edit-form-container(style="display: none;")
        h2.section-title Редагувати товар
        .changes-table-container
            form#edit-product-form.product-form
                input#edit-id(type="hidden" name="id")
                table.changes-table
                    tbody
                        tr
                            td(colspan="2")
                                label(for="edit-Name") Назва товару
                                input#edit-Name.form-control(type="text" name="Name" placeholder="Назва")
                        tr
                            td(colspan="2")
                                label(for="edit-Category") Категорія
                                select#edit-Category.form-control(name="Category")
                                    option(value="Sneakers") Sneakers
                                    option(value="T-shirt") T-shirt
                                    option(value="Pants") Pants
                        tr
                            td(colspan="2")
                                label(for="edit-Price") Вартість
                                input#edit-Price.form-control(type="number" name="Price" placeholder="Вартість")
                        tr
                            td(colspan="2")
                                label(for="edit-Amount") Кількість
                                input#edit-Amount.form-control(type="number" name="Amount" placeholder="Кількість")
                        tr
                            td(colspan="2")
                                label(for="edit-idSupplier") Код постачальника
                                input#edit-idSupplier.form-control(type="number" name="idSupplier" placeholder="Код постачальника")
                        tr
                            td(colspan="2")
                                label(for="edit-idWarehouse") Код складу
                                input#edit-idWarehouse.form-control(type="number" name="idWarehouse" placeholder="Код складу")
                        tr
                            td(colspan="2").actions
                                button.btn-submit(type="submit") Зберегти
                                button.btn-cancel(type="button" id="cancel-edit") Скасувати
