section.current-tasks
    h2.section-title Поточні завдання компанії

    .tasks-grid
        .task-card
            .task-header
                h3.task-title Поточне завдання №1
                .task-priority
                    span.priority-label.high В процесі

            .task-content
                p.task-description Оновлення каталогу спортивного одягу

            .task-meta
                .task-time
                    i.icon-clock
                    span Останнє оновлення 2 години тому

        .task-card
            .task-header
                h3.task-title Поточне завдання №2
                .task-priority
                    span.priority-label.high В процесі

            .task-content
                p.task-description Перевірка нових постачальників

            .task-meta
                .task-time
                    i.icon-clock
                    span Останнє оновлення 24 години тому

        .task-card
            .task-header
                h3.task-title Поточне завдання №3
                .task-priority
                    span.priority-label.medium В черзі

            .task-content
                p.task-description Розробка нового функціоналу для сайту

            .task-meta
                .task-time
                    i.icon-clock
                    span Останнє оновлення 6 годин тому

        .task-card
            .task-header
                h3.task-title Поточне завдання №4
                .task-priority
                    span.priority-label.low Завершено

            .task-content
                p.task-description Оптимізація коду

            .task-meta
                .task-time
                    i.icon-clock
                    span Останнє оновлення 48 годин тому
