footer.footer
    .bottom-menu
        .footer__logo
            a(href="/")
                img.logo(src="src/assets/images/logo.svg", alt="Logo")
        .menu-item-logo SportMarket Admin
        .menu-item Системні параметри
        .menu-item Панель постачальників
        .menu-item Система передачі даних
        .menu-item Курси валют
    .copyright
        p © 2025 SportMarket Admin. Всі права захищені.
