section.recent-changes
    h2.section-title Останні зміни в каталозі

    .changes-table-container
        table.changes-table
            thead
                tr
                    th Назва товару
                    th Дата оновлення
                    th Постачальник
                    th Статус
            tbody
                tr
                    td Nike Air Max 2023
                    td 01.03.2025
                    td Sport Plus
                    td
                        span.status-label.success Додано
                tr
                    td Adidas Футбольний м'яч
                    td 01.03.2025
                    td SportMaster
                    td
                        span.status-label.info Змінено
                tr
                    td Puma Спортивні кросівки
                    td 02.03.2025
                    td Sport Plus
                    td
                        span.status-label.success Додано
                tr
                    td Reebok Бегові черевики
                    td 02.03.2025
                    td SportMarket
                    td
                        span.status-label.warning Видалено
