section.supplier-status
    h2.section-title Статус постачальників

    .supplier-cards-container
        .supplier-card.active
            .supplier-header
                .supplier-title Sport Plus
                .supplier-status.active Активний
            .supplier-meta
                .supplier-info
                    i.icon-calendar
                    span Останнє оновлення: 01.02.2025
            .supplier-action
                button.action-btn.action-more Детальніше

        .supplier-card.pending
            .supplier-header
                .supplier-title SportMaster
                .supplier-status.pending На перевірці
            .supplier-meta
                .supplier-info
                    i.icon-calendar
                    span Останнє оновлення: 28.01.2025
            .supplier-action
                button.action-btn.action-more Детальніше

        .supplier-card.rejected
            .supplier-header
                .supplier-title Sport Life
                .supplier-status.rejected Заблокований
            .supplier-meta
                .supplier-info
                    i.icon-calendar
                    span Останнє оновлення: 27.01.2025
            .supplier-action
                button.action-btn.action-more Детальніше