main
    article
        section
            h2 Поточні завдання компанії
    article
        section
            h2 Останні зміни в каталозі
    article
        section
            h2 Статус постачальників
    article
        section
            h2 Графік стабільності всіх систем