doctype html
html(lang='ua')
    head
        meata(charset='utf-8')
        title= 'SportMarket'
    body
        include sections/menu.pug
        include sections/current-tasks
        include sections/recent-changes
        include sections/supplier-status
        include sections/system-stability
        include sections/footer
