@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: $p-font-size;
  color: $black;
  background-color: $pink;
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

a {
  color: $dark-gray;
}
header ,
main,
footer {
  border: 1px;
}
h1 {
  font-size: $h1-font-size;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
